<div class="row">
    <div class="span8">
        <h3>Smart meter</h3>

        <div id="chart_div"></div>
    </div>

    <div class="span4">
        <h3>Verbrauch Heute</h3>

        <p id="counterToday"></p>

        <p id="counterTodayAverage"></p>

        <p id="counterTodayCost"></p>

        <p><a class="btn" href="#">Tagesdaten »</a></p>
    </div>
    <div class="span4">
        <h3>Verbrauch Monat</h3>

        <p id="counterMonth"></p>

        <p id="counterMonthAverage"></p>

        <p id="counterMonthCost"></p>

        <p><a class="btn" href="#">Monatsdaten »</a></p>
    </div>
    <div class="span4">
        <h3>Zählerstand</h3>

        <p id="counterComplete"></p>

        <p id="counterCompleteYear"></p>

        <p id="counterCompleteYearCost"></p>

        <p><a class="btn" href="#">Jahresdaten »</a></p>
    </div>
    <div class="span4">
        <h3>Vertragsdaten</h3>

        <p id="monthly"></p>

        <p id="yearly"></p>

        <p id="difference"></p>
    </div>
</div>