<div class="page">
    <div class="page-header">
        <h1>System Overview</h1>
    </div>

    <div class="row">
        <div class="span11">
            <h4>CPU load</h4>

            <p>

            <div class="progress progress-danger">
                <div id="cpuused" class="bar" style="width: 0%;"></div>
            </div>
            </p>

            <h4>Memory used</h4>

            <p>

            <div class="progress progress-danger">
                <div id="memused" class="bar" style="width: 0%;"></div>
            </div>
            </p>
        </div>
    </div>
</div>