<div class="row">
    <div class="content  offset4 span4">
        <div class="login-form">
            <form action="">
                <fieldset>
                    <div class="input-append">
                        <input class="span3" style="height: 29px; font-size: 22px; line-height: 27px;" type="password"
                               placeholder="Password">
                        <button class="btn btn-success btn-large" type="button">Login</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>