<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Burkhardt Homeautomation</a>
            {{#connected}}
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#home">Overview</a></li>
                    <li><a href="#system">Control panel</a></li>
                    <li><a href="#network">Network settings</a></li>
                    <li><a href="#vdr">VDR</a></li>
                </ul>
            </div>
            {{/connected}}
        </div>
    </div>
</div>