<div class="page">
    <div class="page-header">
        <h1>Network</h1>
    </div>

    <div class="row">
        <div class="span3">
            <ul class="nav nav-list">
                <li class="nav-header">Settings</li>
                <li class="active"><a href="#provider">PPPoE settings</a></li>
                <li><a href="#dhcp">DHCP</a></li>
                <li><a href="#dyndns">Dynamic DNS</a></li>
                <li><a href="#dns">DNS</a></li>
                <li><a href="#firewall">Firewall settings</a></li>
                <li><a href="#port">Port forwarding</a></li>
                <li><a href="#app">Applications</a></li>
                <li><a href="#logs">Logs</a></li>
                <li class="divider"></li>
                <li><a href="#help">Help</a></li>
            </ul>
        </div>

        <div class="span8" id="subContent"></div>
    </div>
</div>