<div class="page">
    <div class="page-header">
        <h1>Control panel</h1>
    </div>

    <div class="row">
        <div class="span3">
            <ul class="nav nav-list">
                <li class="nav-header">Inside</li>
                <li class="active"><a href="#inside/SmartMeter">Smart Meter</a></li>
                <li><a href="#inside/Lights">Lights</a></li>
                <li><a href="#inside/Devices">Devices</a></li>
                <li class="nav-header">Outside</li>
                <li><a href="#outside/GardenWatering">Garden watering</a></li>
                <li><a href="#outside/Lights">Lights</a></li>
                <li class="divider"></li>
                <li><a href="#contracts">Contracts</a></li>
                <li><a href="#help">Help</a></li>
            </ul>
        </div>

        <div class="span8" id="subContent"></div>
    </div>
</div>